*{
	box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.chicken{
    background-color: coral;
    border: 3px solid black;
}
.beef{
    background-color: blueviolet;
    border: 3px solid black;
}
.sushi{
    background-color: aqua;
    border: 3px solid black;
}
.menu{
    background-color: brown;
}
h1{
     font-family: "Lucida Console", Courier, monospace;
    background-color: cornflowerblue;
}
h4{
    background-color: darkorchid;
}
